#file extensions
*.class
*.ear
*.iml
*.jar
*.log
*.name
*.nar
*.rar
*.tar.gz
*.war
*.zip

#directories
/build/*
/.gradle/*
/gradle/*
/out/*
/.idea/*

#files
gradlew
gradlew.bat

#file exceptions
!.idea/runConfigurations
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/misc.xml

